.App {
  font-family: 'Open Sans', sans-serif;
  color: #0D2143;
  letter-spacing: 0.055em;
  line-height: 1.3em;
  box-sizing: border-box;
}

p {
  margin: 0px;
  font-size: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* labeling items here */
h2 {
  font-size: 1.1em;
  font-weight: 600;
}

h2 > span {
font-size: 0.6em;
}

h3 {
  font-size: 0.75em;
  font-weight: 300;
  color: #838A91;
}

.label {
  color: #0060F2;
  font-size: 0.55em;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* grid stuff here */

.Grid {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  
  flex-flow: row wrap;
  justify-content: center;

  max-width: 900px;
  margin: auto;
  margin-top: 20px;

}

.Grid-cell {
  box-sizing: border-box;
  border: 1px solid #D8DDE3;
  border-radius: 7px;
  max-width: 70%;
  min-width: 300px;

  padding: 20px;
  margin: auto;
  margin-bottom: 30px;

  box-shadow: 0px 4px 7px 8px rgba(216,221,227,0.1);

}


@media only screen and (min-width: 870px) {
  .Grid-cell {
    margin-bottom: 0px;
    max-width: 45%;
  }
}